<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
      name="DefaultConnection"
      connectionString="Server=tcp:investips.database.windows.net,1433;Initial Catalog=investips;Persist Security Info=False;User ID=cdcalderon;Password=MyComplexPassword!234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient"
    />
  </connectionStrings>
</configuration>

<!--Update-Database -ConnectionString "Server=tcp:investips.database.windows.net,1433;Initial Catalog=investips;Persist Security Info=False;User ID=cdcalderon;Password=MyComplexPassword!234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" -ConnectionProviderName "System.Data.SqlClient" -Verbose-->